<h1>Listing workouts</h1>

<table>
  <thead>
    <tr>
      <th>Sets</th>
      <th>Reps</th>
      <th>Time Completed</th>
      <th>Exercise</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.sets %></td>
        <td><%= workout.reps %></td>
        <td><%= workout.timeCompleted %></td>
        <td><%= Exercise.find(workout.exercise_id).name %></td> 
        <td><%= workout.note %></td>
        <td><%= link_to 'Show', workout %></td>
        <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
        <td><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workout', new_workout_path %>
